doctype html
html(lang="en")
  head
    title= "Polyban.io Web Consulting"
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style.css")
    link(rel="icon" type="image/png" href="images/favicon.png")

    body
        header
            img(src="images/logo.png")
            section#right
                img(src="images/avatar.png")
                #info
                    .text Hello, I’m a full-stack javascript developer with 12+ years experience,  entrepreneur and tech enthusiast.

                    a.checkout(href="http://bit.ly/2g4BgDW" target="blank") Check out my profile

        main

            .sections
                section#one
                    h1 Requirements analysis & docs
                    img(src="images/one.png")
                    .text
                        p.
                            I do requirements engineering because it saves you money, helps to progress more efficiently and builds a much greater value for you.

                        p.
                            Not without reason a lot IT projects fail or go into the wrong direction. I will mitigate this trap and help you retain the upper hand.

                section#two
                    h1 Software architecture & DevOps
                    img(src="images/two.png")
                    .text
                        p.
                            I design microservice architectures with Docker. Building your production setup right into your development process will save you cost and hugely increase flexibility.
                        p.
                            Dockerization is an opportunity you should not miss, and it's available for existing applications!

                section#three
                    h1 Fullstack app development
                    img(src="images/three.png")
                    .text
                        p.
                            I’m a fullstack Javascript developer inside-out:
                        ul
                            li MongoDB, Redis
                            li React.JS, Meteor.JS, Angular.JS
                            li node.js, Titanium, Cordova
                            li frontend & backend
                        p.
                            Many more frameworks and platforms are on my list.

            a.checkout(href="http://bit.ly/1oPVh3W" target="blank") Check out my profile

        footer

            section#one.
                <b>Polyban.io Web Consulting</b>
                <br><b>Jakob Hohlfeld</b>
                <br>Schillerstraße 40
                <br>℅ Schiller40 CoWorking-Space
                <br>38440 Wolfsburg
                <br>Germany

            section#two.
                <b>Polyban.io</b> is my platform to explore and promote new, more efficient ways of application development. Six months from now, your technology stack will look deprecated as better ways are invented. However, from new possibilities arise new challenges and I'm here to help you pick the right tools and prevail in this ever-changing, fast-moving world of innovation.

            section#three
                h2.
                    Legal stuff
                p.
                    Responsible as per §5 TMG (applicable in Germany):
                    <br>Jakob Hohlfeld, Schillerstraße 40, 38440 Wolfsburg


