doctype html
html(lang="en")
  head
    title= "Polyban.io Web Consulting"
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel="stylesheet" href="style.css")

    body
        h1= "Welcome! Jade rocks..."
        Some text..